In [2]:
import sqlite3

In [3]:
with sqlite3.connect('../data_cache/test.db') as conn:
        conn.cursor().execute('''DROP TABLE IF EXISTS test''')
        conn.cursor().execute('''
        CREATE TABLE IF NOT EXISTS test (
        id int PRIMARY KEY,
        col text
        )''')

In [5]:
with conn:
    conn.cursor().execute('''
        INSERT INTO test (id, col) VALUES (1, ?)
    ''', ['[1,2,3]'])

In [24]:
with conn:
    conn.cursor().execute("""
    UPDATE test SET col=json_insert(col, '$[' || json_array_length(col) || ']',5) WHERE id=1
    """)